$color_1: #ffffff;
$color_2: #243b6d;
$font_family_1: 'Open Sans';
$font_family_2: 'Myriad Pro';

/* Reset
================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    background: transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    color:#ffffff;
}

/* Font - family*/
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap";

html {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    color: $color_1;
    font-family: $font_family_1;
    background: #111e84 url(../../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 0
}
h1 {
    margin-bottom: 0;
    text-align: left;
    line-height: 100%;
}

h2 {
    margin-bottom: 0;
    text-align: left;
    line-height: 100%;
}

h3 {
    margin-bottom: 0;
    text-align: left;
    line-height: 100%;
}

h4 {
    margin-bottom: 0;
    text-align: left;
    line-height: 100%;
}

h5 {
    margin-bottom: 0;
    text-align: left;
    line-height: 100%;
}

h6 {
    margin-bottom: 0;
    text-align: left;
    line-height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1705px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}
.search-container {
    padding: 57px 0 190px;
    width: 100%;
}
/*search*/
form.search {
    display: flex;
    float: right;
    margin: 0;
    width: 548px;
    height: 93px;
    border: 2px solid #5399e6;

    input[type=text] {
        padding: 10px 0 10px 25px;
        font-size: 28px;
        border: 0;
        float: left;
        color: $color_2;
        width: 80%;
        background: rgba(123, 175, 217, 0.8);

        &::placeholder {
            color: $color_2;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: $color_2;
        }

        &::-ms-input-placeholder {
            color: $color_2;
        }
    }

    button {
        float: left;
        padding: 0 75px;
        background: rgba(123, 175, 217, 0.8);
        color: $color_2;
        font-size: 17px;
        border: 0;
        border-left: none;
        cursor: pointer;

        .fa-search {
            font-size: 28px;
            color: $color_2;
        }
    }

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.current-weather {
    font-family: $font_family_2;
    width: 457px;
    -webkit-transition: all 0.5s;

    .info {
        padding: 42px 16px 0;
    }

    .large-temp {
        font-size: 192px;
        padding: 67px 0 12px;
        display: block;
        font-family: $font_family_1;
        font-weight: 300;
        line-height: 100%;
    }
}

.name-location {
    display: block;
    font-size: 58px;
    padding: 0;
    margin: 0;
    line-height: 100%;
}

.today-daypart-title {
    font-size: 33px;
    display: block;
}

.cond {
    font-size: 50px;
}

.days-wrapper {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    margin: 0;
    max-width: 100%;
}

.info-wrapper {
    &:last-child {
        &::before {
            content: url('../../images/icon-arrow.png');
            position: relative;
            float: right;
            margin-top: -86px;
        }

        margin-right: 0;
    }

    width: 384px;
    min-height: 480px;
    font-family: $font_family_1;
    font-weight: 300;
    margin-right: 48px;
    background: rgba(255, 255, 255, 0.11);

    img {
        margin: 0 auto;
        display: block;
    }

    img[alt="rain"] {
        padding: 27px 0 0;
    }

    img[alt="cloudy"] {
        padding: 18px 0 0;
    }

    &:first-child {
        margin-left: 0;
    }

    .day {
        font-size: 33px;
        padding: 33px 35px 27px;
        display: block;
        letter-spacing: -2.7px;
    }

    .wrp-icon {
        min-height: 202px;
        vertical-align: middle;
    }

    .small-temperature {
        font-size: 70px;
        display: block;
        padding-left: 36px;
        text-rendering: optimizeLegibility;
    }

    .cond {
        font-size: 32px;
        padding-left: 36px;
    }
}

.icon-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
